<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases>

		<typeAlias type="com.md.s1.notice.NoticeDTO" alias="NoticeDTO"/>
  		
  		<typeAlias type="java.lang.Long" alias="Long"/>
  		
  		<typeAlias type="com.md.s1.notice.NoticeImgDTO" alias="NoticeImgDTO"></typeAlias>
  		
  		<typeAlias type="com.md.s1.util.Pager_M1" alias="Pager"></typeAlias>
  		

  	</typeAliases>
  </configuration>