<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.MD1.s1.qna.QnaDAO">
  	
  	
  	 <select id="getQnaDetail" parameterType="QnaDTO" resultMap="qnaDetailResult">
	 	SELECT B.*, BI.*
		FROM QNA B
		LEFT OUTER JOIN
		QNAIMG BI
		ON (B.QNANUM = BI.QNANUM)
		WHERE B.QNANUM=#{qnaNum}
	 		
 	</select>
 	
 	<resultMap type="QNADTO" id="qnaDetailResult">
 		<!-- Primary key -->
 		<id column="QNANUM" property="qnaNum"/>
 		<!-- 그외 나머지 -->
 		<result column="QNATITLE" property="qnaTitle"/>
 		<result column="QNACONTENTS" property="qnaContents"/>
 		<result column="QNAWRITER" property="qnaWriter"/>
 		<result column="QNAREGDATE" property="qnaRegDate"/>
 		<result column="QNAHIT" property="qnaHit"/>
 		<!-- 1:1 -->
 		<association property="qnaImgDTO" javaType="QnaImgDTO">
 			<id column="FILENUM" property="fileNum"/>
 			<result column="FILENAME" property="fileName"/>
 			<result column="ORINAME" property="oriName"/>
 		</association>
 		<!-- 1:N -->
 		<!-- <collection property=""></collection> -->
 		
 	</resultMap>
  	
  	
  	
    <select id="getQnaNum" resultType="Long">
  	SELECT QNA_SEQ.NEXTVAL FROM DUAL
	</select>
	
	<select id="getQnaCount" parameterType="Pager" resultType="Long">
  		SELECT COUNT(QNANUM) FROM QNA
  	</select>
	
	
	
   <select id="getQnaList" parameterType="Pager" resultType="QnaDTO">
  		SELECT * FROM
		(
			SELECT ROWNUM R, B.* FROM
			(
				SELECT * FROM QNA				
				ORDER BY QNANUM DESC
			) B
		)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
  	</select>
    
   <!--   <select id="getQnaDetail" parameterType="QnaDTO" resultType="QnaDTO">
	SELECT *
	FROM QNA
	WHERE QNANUM = #{qnaNum} 
   </select>-->

	<insert id="setQnaAdd" parameterType="QnaDTO">
		<selectKey keyProperty="qnaNum" order="BEFORE" resultType="Long">
			SELECT QNA_SEQ.NEXTVAL FROM DUAL                <!-- 파일 업로드를 위해 미리 시퀸서를 동작하게 하는 sql 문 -->
		</selectKey>
		
		INSERT INTO QNA 
		VALUES(#{qnaNum},#{qnaTitle},#{qnaContents},#{qnaWriter},SYSDATE,#{qnaHit})
	</insert>

	<delete id="setQnaDelete" parameterType="QnaDTO">
	DELETE QNA WHERE QNANUM = #{qnaNum} 
	</delete>
	
	<update id="setQnaUpdate" parameterType="QnaDTO">
	UPDATE QNA SET QNATITLE=#{qnaTitle},QNACONTENTS=#{qnaContents},QNAWRITER=#{qnaWriter},QNAREGDATE=#{qnaRegDate},QNAHIT=#{qnaHit}  <!-- num은 수정x-->
	WHERE QNANUM = #{qnaNum}
	</update>
	
	<insert id="setQnaImgAdd" parameterType="QnaImgDTO">
		INSERT INTO QNAIMG
		VALUES(QNA_SEQ.NEXTVAL,#{fileName},#{oriName},#{qnaNum})
	 
	</insert>

	
</mapper>